# --- PyTorch GPU ---
#torch==2.1.2
#torchvision
#torchaudio

# --- AI / Deep Learning ---
diffusers==0.34.0
einops==0.8.1
# pytorch3d==0.7.4

# --- Face Enhancement / Image AI ---


# --- Audio / Voice AI ---
librosa
soundfile==0.13.1
# TTS==0.22.0

# --- Web UI / FastAPI ---
# gradio==5.36.2
fastapi
uvicorn==0.35.0
# customtkinter==5.2.0
# tkinterdnd2==0.3.0; sys_platform != 'darwin' and platform_machine != 'arm64'
# tkinterdnd2-universal==1.7.3; sys_platform == 'darwin' and platform_machine == 'arm64'

# --- Utility / Support ---
numpy==1.24.3
scipy
#matplotlib==3.10.3
#loguru==0.7.3
tqdm==4.65.0
pydantic==1.10.13
#protobuf==4.23.4
requests==2.32.4
huggingface_hub==0.33.4
#click==8.1.7
