# --- PyTorch GPU ---
#torch==2.1.2
#torchvision
#torchaudio

# --- AI / Deep Learning ---
diffusers==0.34.0
transformers
einops==0.8.1
# pytorch3d==0.7.4
onnx==1.14.0
onnxruntime-gpu==1.14.1
onnxsim
tensorflow
keras

# --- Face Enhancement / Image AI ---
facexlib==0.3.0
insightface==0.7.3
gfpgan==1.3.8
realesrgan==0.3.0
face_alignment==1.3.5
opencv-python==4.8.0.74
scikit-image==0.19.3
kornia==0.6.8
imageio==2.19.3
imageio-ffmpeg==0.4.7
imutils==0.5.4


# --- Audio / Voice AI ---
librosa
soundfile==0.13.1
pydub==0.25.1
silero-vad==5.1.2
# TTS==0.22.0
resampy==0.3.1

# --- Web UI / FastAPI ---
# gradio==5.36.2
fastapi
uvicorn==0.35.0
# customtkinter==5.2.0
# tkinterdnd2==0.3.0; sys_platform != 'darwin' and platform_machine != 'arm64'
# tkinterdnd2-universal==1.7.3; sys_platform == 'darwin' and platform_machine == 'arm64'

# --- Utility / Support ---
numpy==1.24.3
scipy
pandas==2.3.1
#matplotlib==3.10.3
#loguru==0.7.3
tqdm==4.65.0
psutil==5.9.5
python-dotenv==1.1.1
pydantic==1.10.13
pyyaml==6.0.2
safetensors==0.5.3
#protobuf==4.23.4
requests==2.32.4
huggingface_hub==0.33.4
openai
#click==8.1.7
yacs==0.1.8
opennsfw2==0.14.0
python-jose==3.5.0
python-multipart==0.0.20
